.App {
  text-align: center;
  background-color: white;
  width: 375px;
  min-height: 650px;
  height: auto;
  margin-left: 500px;
  margin-top: 70px
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Container {
  /* padding: 10 */
}